div {
  .custom-card {
    ion-list {
      ion-item {
        .custom-icon {
          font-size: 30px;
          transform: rotate(90deg);
          margin-right: 10px;
        }
      }
    }
  }
}

div {
  .custom-card {
    box-shadow: none;
  }
  .ion-padding {
    height: 3rem;
  }
}
