<div *ngIf="canload">
  <div *ngIf="(attachments && attachments.length>0)">
    <ion-card class="custom-card" *ngFor="let attachments of attachments">
      <ion-list>
        <ion-item
          (click)="downloadFile(attachments.title, attachments.uri.href)"
          lines="none"
        >
          <ion-icon name="link-outline" class="custom-icon"></ion-icon>
          <ion-label>{{attachments.title}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card>
  </div>
  <div *ngIf="!attachments || (attachments && attachments.length<=0)">
    <app-common-no-data [text]="'NO_DATA.ATTACHMENT' | translate"></app-common-no-data>
  </div>
</div>

<div *ngIf="!canload">
  <app-common-skeleton [id]="TABS_TYPE.ATTACHMENT"></app-common-skeleton>
</div>
