<div class="justify-cont padding-1">


  <ion-label class="ion-text-wrap">
    <!-- <p class="title"><span>{{listTasks.items[0].VendorName}}</span></p> -->
    <p class="title"><span>{{listTasks.items[0].Category}}</span></p>
  </ion-label>
  <ion-label class="ion-text-wrap" color="dark" [ngSwitch]="listTasks.items[0].Category">
    <span class="money" *ngSwitchCase="TASK_CATEGORIES.PURCHASING">{{'DOCUMENT_NUMBER.PO_NO'|translate}}: <span
        class="inv-number">{{listTasks.items[0].CategoryNumber}}</span></span>
    <span class="money" *ngSwitchCase="TASK_CATEGORIES.PURCHASE_REQUISITIONS">{{'DOCUMENT_NUMBER.PR_NO'|translate}}: <span
        class="inv-number">{{listTasks.items[0].CategoryNumber}}</span></span>
    <span class="money" *ngSwitchCase="TASK_CATEGORIES.INVOICE">{{'DOCUMENT_NUMBER.INV_NO'|translate}}: <span
        class="inv-number">{{listTasks.items[0].CategoryNumber}}</span></span>
  </ion-label>
</div>
<div class="justify-cont padding-2 margin-top">
  <ion-label class="ion-text-wrap" color="dark">
    <p class="sub-title"><span>{{listTasks.items[0].ActionPerformed}}</span></p>
  </ion-label>
  <ion-label class="ion-text-wrap" color="dark">
    <span class="today">{{listTasks.items[0].SubmitForApprDate |date}}</span>
  </ion-label>
</div>
<div class="justify-cont padding-2 margin-top">
  <ion-label class="ion-text-wrap" color="dark">
    <p class="sub-title"><span><b>{{listTasks.items[0].Title}}</b></span></p>
  </ion-label>
</div>
