b {
  color: var(--ion-color-primary);
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
}
.title {
  color: var(--ion-color-dark);

  font-size: 20px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;

  line-height: 28px;
}
p {
  color: var(--ion-color-dark);
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
}
.doc-no {
  color: var(--ion-color-secondary);
  position: absolute;
  right: 7%;
  font-size: 16.5px;

  font-family: "Inter";
  .inv-number {


    font-family: "Inter";
    font-weight: 600;
    font-size: 16px;
  }
}
