.no-data {
  ion-icon {
    font-size: 50px;
    color: var(--ion-color-medium);
    position: relative;
    left: 43%;
    top: 123px;
  }
  .ion-text-center {
    position: relative;
    top: 109px;
    color: var(--ion-color-medium);
  }
}
