<ion-item-group class="ejemplo-information" style="overflow-x: auto">
  <ion-item *ngIf="taskInformation" lines="none" color="light">
    <ion-label [ngSwitch]="category" id="purchasing">
      <!-- PURCHASING -->
      <div
        class="row position purchase"
        *ngSwitchCase="TASK_CATEGORIES.PURCHASING"
      >
        <h6>
          {{'INFO.PURCHASING.TITLE'|translate}}:
          <span>{{taskInformation[0].Title}}</span>
        </h6>

        <p></p>
        <br />
        <!-- <h6>Vendor: {{taskInformation[0].VendorName}} </h6>
        <p></p> -->
        <!-- <h6>Action: {{taskInformation[0].ActionPerformed}} </h6>
        <p></p> -->
        <h6 class="amount">
          {{'INFO.PURCHASING.AMOUNT'|translate}}:
          {{taskInformation[0].POAmount}}
        </h6>
        <br />
        <p></p>
        <!-- <h6>Submit Date: {{taskInformation[0].SubmitForApprDate}} </h6>
        <p></p> -->
        <h6 id="account">
          {{'INFO.PURCHASING.CHARGE_ACCOUNT'|translate}}:
          {{taskInformation[0].ChargeAccount}}
        </h6>
        <br />
        <p></p>
      </div>

      <!-- PURCHASE_REQUISITIONS -->
      <div
        class="row position"
        id="purchase-req"
        *ngSwitchCase="TASK_CATEGORIES.PURCHASE_REQUISITIONS"
      >
        <h6>
          {{'INFO.PURCHASING.TITLE'|translate}}:
          <span>{{taskInformation[0].Title}}</span>
        </h6>

        <p></p>
        <!-- <h6>Vendor: {{taskInformation[0].VendorName}} </h6>
        <p></p> -->
        <!-- <h6>Action: {{taskInformation[0].ActionPerformed}} </h6>
        <p></p> -->
        <h6 class="amount">
          {{'INFO.PURCHASING.AMOUNT'|translate}}:
          {{taskInformation[0].InvoiceTotalAmount}}
        </h6>
        <br />
        <p></p>
        <!-- <h6>Submit Date: {{taskInformation[0].SubmitForApprDate}} </h6>
        <p></p> -->
        <h6 id="account">
          {{'INFO.PURCHASING.CHARGE_ACCOUNT'|translate}}:
          {{taskInformation[0].ChargeAccount}}
        </h6>
        <br />
        <p></p>
      </div>

      <!-- INVOICE -->
      <div class="row position" *ngSwitchCase="TASK_CATEGORIES.INVOICE">
        <h6>{{'INFO.PURCHASING.TITLE'|translate}}:</h6>
        <span>{{taskInformation[0].Title}}</span>
        <p></p>
        <h6>
          {{'INFO.INVOICE.INVOICE_NO'|translate}}:
          {{taskInformation[0].InvoiceDesc}}
        </h6>
        <br />

        <!-- <h6>Action: {{taskInformation[0].ActionPerformed}} </h6>
        <p></p> -->
        <h6>
          {{'INFO.PURCHASING.AMOUNT'|translate}}:
          {{taskInformation[0].InvoiceTotalAmount}}
        </h6>
        <br />

        <h6>
          {{'INFO.INVOICE.BUSINESS_UNIT'|translate}}:
          {{taskInformation[0].BusinessUnit}}
        </h6>
        <br />
        <p></p>
        <h6>
          {{'INFO.PURCHASING.CHARGE_ACCOUNT'|translate}}:
          {{taskInformation[0].ChargeAccount}}
        </h6>
        <br />
        <p></p>
        <h6>
          {{'INFO.INVOICE.PYTM'|translate}}:
          {{taskInformation[0].PaymentMethod}}
        </h6>
        <br />
        <p></p>
        <h6>
          {{'INFO.INVOICE.DUE_DATE'|translate}}: {{taskInformation[0].DueDate}}
        </h6>
        <br />
        <p></p>
      </div>
    </ion-label>
  </ion-item>

  <app-task-item
    [items]="taskInformation"
    [category]="category"
  ></app-task-item>
</ion-item-group>
