.position {
  bottom: 0px;
  color: var(--ion-color-dark) !important;
}

h6 {
  font-size: 14px;
}

.content {
  p {
    color: var(--ion-color-dark);
    margin-top: 0;
  }
}

.item.sc-ion-label-md-h,
.item .sc-ion-label-md-h {
  white-space: initial !important;
}

.display {
  display: flex;
}

.display p {
  margin-left: 10px;
}

.font-weight {
  font-weight: bold;
  margin-bottom: 15px;
}

.ml-1 {
  margin-left: 5px;
  font-size: 0.75rem;
  margin-top: 4px;
}

.ml-2 {
  margin-left: 10px;
}

.row {
  p {
    color: var(--ion-color-dark);
    margin-bottom: 10px;
  }
}
.ejemplo-information {
  margin-top: 30px;
}

span {
  font-size: 14px;
  margin-bottom: 8px;
  padding-bottom: 2em;
}
#purchase-req {
  .amount {
    margin-top: 15px;
  }
  #account {
    margin-top: -12px;
  }
}
#purchasing {
  .purchase {
    .amount {
      margin-top: -14px;
    }
    #account {
      margin-top: -12px;
    }
  }
}
