<ion-header class="heading ion-no-border">
  <ion-toolbar class="ion-no-padding">
    <ion-grid>
      <ion-row>
        <ion-col size="10">
          <ion-title class="ion-text-start">{{
            "ACTION_BUTTON.FORWARD" | translate
          }}</ion-title>
        </ion-col>
        <ion-col size="2">
          <ion-icon
            name="close-outline"
            size="large"
            color="secondary"
            class="close-icon-custom"
            (click)="cancelForwardModal()"
          ></ion-icon>
        </ion-col>
      </ion-row>
      <app-common-searchbar
        [searchInput]="filterTerm"
        (searchItems)="fetchSearchInputValue($event)"
      ></app-common-searchbar>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="!contentLoaded">
  <app-common-skeleton [id]="TABS_TYPE.FORWARD"></app-common-skeleton>
</ion-content>
<ion-content
  *ngIf="contentLoaded && (users | filter: filterTerm) as filterData"
>
  <ion-list *ngIf="users && users.length > 0">
    <ion-item
      *ngFor="let user of filterData"
      button
      (click)="selectedUser(user.UserName)"
    >
      <ion-icon name="person-outline" class="icon-fontS"></ion-icon>
      <ion-label class="label"> {{ user.UserName }} </ion-label>
    </ion-item>
  </ion-list>
  <div *ngIf="filterData.length === 0">
    <app-common-no-data [text]="DataNotFoundMessage"></app-common-no-data>
  </div>
</ion-content>
