h4 {
  font-weight: 500;
  line-height: 28px;
  font-size: 18px;
  font-style: normal;
}
.ion-item {
  margin-top: 1px;
  margin-left: 0px;
  border-radius: 46px;
}

.close-icon-custom {
  position: absolute;
  right: 16% !important;
  top: -1% !important;
}
.heading {
  margin-top: 10px !important;
}
ion-title {
  padding-left: 0px;
}
.label {
  margin-left: 10px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  font-style: normal;
}
.icon-fontS {
  font-size: 14px;
}
.ion-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
