.buttons {
  border-radius: 46px;
  width: 109px;
  height: 44px;
  padding: 10px, 16px, 10px, 16px;
  font-weight: 600;
  font-size: 16px;
}

.approve {
  color: var(--ion-color-light);
  background: var(--ion-color-secondary);
}

.reject {
  background: var(--ion-color-primary);
  color: var(--ion-color-light);
}

.forward {
  color: var(--ion-color-dark);
  background: var(--ion-color-tertiary);
  border: 1px solid #f1f1fa;
  box-sizing: border-box;
}
