<div class="justifi-content">
  <ion-grid>
    <ion-row>
      <ion-col size="3">
        <button class="buttons approve" (click)="showAlert('APPROVE')">
          {{ "ACTION_BUTTON.APPROVE" | translate }}
        </button>
      </ion-col>
      <ion-col size="3" offset="1">
        <button class="buttons reject" (click)="showAlert('REJECT')">
          {{ "ACTION_BUTTON.REJECT" | translate }}
        </button>
      </ion-col>
      <ion-col size="3" offset="1">
        <button class="buttons forward" (click)="showAlert('REASSIGN')">
          {{ "ACTION_BUTTON.FORWARD" | translate }}
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
