<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button class="active">
      <ion-img src="../../assets/icon/png/Shape.png"></ion-img>
      <ion-label color="primary">Dashboard</ion-label>
    </ion-tab-button>
    <ion-tab-button>
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>