<ion-list>
  <ion-item
    *ngFor="let lng of languages"
    (click)="selectLanguage(lng.value)"
    detail="false"
  >
    <ion-label>{{ lng.text }}</ion-label>
    <ion-icon
      name="checkmark"
      *ngIf="lng.value === selectedLanguage"
    ></ion-icon>
  </ion-item>
</ion-list>
