// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;700;800;900&display=swap");
/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #1c268c; //primary color use
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #ff7032; //secondary color use
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #ffffff; //use the text white item
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #fc0022;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #1a1c33;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #e9eaf2;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #e9eaf2;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}
// button theme class
.ion-button {
  font-family: Inter;
  text-transform: none;
  font-weight: 700;
  color: var(--ion-color-light);
  border-radius: 46px;
  background: var(--ion-color-secondary);
  letter-spacing: 0.1em;
  font-size: 16px;
  height: 40px;
}

ion-text {
  font-family: Inter;
  font-weight: 500;
}

h1 {
  font-weight: 900;
}

ion-content {
  font-family: Inter;
}

.ion-error {
  color: var(--ion-color-danger);
}

// clear button theme
.clear-button {
  position: relative;

  font-size: 16px;
  width: 5em;
  font-family: "Inter";
  font-style: normal;
  text-transform: none;
  font-weight: 600;
}

// input field theme
.ion-item {
  position: relative;

  height: 44px;
  width: 100%;
}

.custom-icon {
  font-size: 60px;
}
ion-title {
  color: var(--ion-color-dark);
  font-family: Inter;
  font-weight: 500;
}

ion-button {
  text-transform: none;
}

ion-card {
  border-radius: 8px;
}

.custom-card {
  box-shadow: none;
}

//tabs-active class

.tab-selected {
  background: var(--ion-color-primary);
  width: 104px;
  height: 44px;
  border-radius: 24px;
  ion-text {
    color: var(--ion-color-tertiary);
  }
}

// skeleton scss Properties

