.ion-item {
  height: 44px;
  left: -0.8em;
  border-radius: 50px;
}

.position {
  position: relative;
  top: 8%;
}

//error custom theme

.ion-error-custom-style {
  position: relative;
  top: -1.2em;
  height: 37px;
}
.ion-row {
  margin-top: -20px;
}
.ion-row2 {
  margin-top: -30px;
}
.bold-text {
  font-weight: 600;
  text-transform: none;
  position: relative;
  top: -0.5em;
}
.clear-button {
  left:-8px;
  top: -6.2px;
}
ion-footer{
  ion-toolbar{
    position: relative;
    left: 16%;
  }
}
.more-lang-button{
  // position: relative;
  // top: 18px;
  // right: -301px;
  float: right;
}
.button-grid{
  ion-row{
    position: relative;
    top: -38px;
  }
}
