<ion-content fullscreen="true">
  <ion-button
    (click)="languageChooseOption($event)"
    fill="clear"
    class="more-lang-button"
  >
    <ion-icon name="globe-outline" slot="icon-only" color="primary"></ion-icon>
  </ion-button>
  <div class="position">
    <h1 class="ion-text-center">{{'LOGIN.WELCOME_BACK'|translate}}!</h1>
    <p class="ion-text-center">{{'LOGIN.SIGN_IN'|translate}}</p>

    <form [formGroup]="formLogin">
      <ion-grid fixed>
        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <ion-text class="ion-padding"
              >{{'LOGIN.EMAIL' |translate}}</ion-text
            >

            <ion-item class="ion-item ion-margin" color="light">
              <ion-input
                placeholder="{{'LOGIN_PAGE.PLACEHOLDER.EMAIL_FIELD'|translate}}"
                formControlName="email"
              ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-item lines="none" class="ion-error-custom-style">
          <p
            *ngIf="!formLogin.get('email').valid && formLogin.get('email').touched"
            class="ion-error"
          >
            **{{'LOGIN.ERROR'|translate}}
          </p>
        </ion-item>

        <ion-row class="ion-row">
          <ion-col size-sm="6" offset-sm="3">
            <ion-text class="ion-padding"
              >{{'LOGIN.PASSWORD'|translate}}</ion-text
            >
            <ion-item class="ion-item ion-margin" color="light">
              <ion-input
                formControlName="password"
                placeholder="{{'LOGIN_PAGE.PLACEHOLDER.PASSWORD_FIELD'|translate}}"
                [type]="passwordType"
              ></ion-input>
              <!------------------ use the icon is hide/unhide eye button function (unhidepassword) --------------->
              <ion-icon
                [name]="hide"
                color="primary"
                (click)="unhidepassword()"
              ></ion-icon>
            </ion-item>
          </ion-col>
        </ion-row>
        <!-- this item only use for error show -->
        <ion-item lines="none" class="ion-error-custom-style">
          <p
            *ngIf="!formLogin.get('password').valid && formLogin.get('password').touched"
            class="ion-error"
          >
            **{{'LOGIN.REQ'|translate}}
          </p>
        </ion-item>
        <!-- end  -->
        <ion-row class="ion-row2">
          <ion-col>
            <ion-button color="secondary" fill="clear" class="bold-text"
              >{{'LOGIN.FORGET'|translate}}?</ion-button
            >
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>

    <!-- this grid use for sign in button -->
    <ion-grid class="button-grid">
      <ion-row>
        <ion-col size="12">
          <ion-button
            fill="clear"
            class="ion-button ion-margin"
            expand="block"
            (click)="signIn()"
            >{{'LOGIN.LOG_IN'|translate}}</ion-button
          >
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- end the button grid -->
  </div>
</ion-content>

<ion-footer class="ion-no-border ion-text-center">
  <!-- <ion-toolbar> -->
    <p>
      {{'LOGIN.SIGN_UP_TEXT'|translate}}
      <span>
        <ion-button fill="clear" color="secondary" class="clear-button"
          >{{'LOGIN.SIGN_UP'|translate}}</ion-button
        >
      </span>
    </p>
  <!-- </ion-toolbar> -->
</ion-footer>
