<!-- skeleton loader start -->
<ion-content color="light" *ngIf="!canload">
  <app-common-skeleton [id]="TABS_TYPE.HISTORY"></app-common-skeleton>
</ion-content>
<!-- end -->

<ion-content class="overflow" color="light" *ngIf="canload">
  <div *ngIf="history">
    <ion-card class="custom-card" *ngFor="let history of history">
      <ion-list>
        <ion-item lines="none">
          <ion-label class="ion-text-wrap" id="col-70">
            <!-- <ion-label class="ion-text-wrap" > -->
            <div class="row position">
              <p class="history-state heading">
                {{history.displayName}}<span
                  class="stauts-heading"
                  class="ion-text-wrap"
                  >{{history.state}}</span
                >
              </p>
              <br />
              <p>{{history.updatedDate | date}}</p>
              <br />
              <p>
                <span>{{'HISTORY.COMMENT'|translate}}: </span>{{history.reason}}
              </p>
            </div>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card>
    <ion-card class="custom-card">
      <ion-list
        *ngIf="currentTask && currentTask.length > 0 && category !== TASK_CATEGORIES.INVOICE"
      >
        <ion-item lines="none">
          <ion-label class="ion-text-wrap" id="col-70">
            <!-- <ion-label> -->
            <div class="row position">
              <p class="history-state">
                {{currentTask[0].ActionPerformed}}<span class="stauts-heading"
                  >{{'HISTORY.SUBMIT'|translate}}</span
                >
              </p>
              <br />
              <p>{{currentTask[0].ActionDate | date }}</p>
              <br />
            </div>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card>
  </div>

  <!-- no-data component call -->
  <div *ngIf="!history || (history <=0)">
    <app-common-no-data [text]="'NO_DATA.HISTORY' | translate"></app-common-no-data>
  </div>
  <!-- end -->
</ion-content>
