.history-state {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 500;
  color: var(--ion-color-primary);
  .stauts-heading {
    color: var(--ion-color-secondary) !important;
    position: absolute;
    right: 5%;
  }
}
#col-70 {
  color: var(--ion-color-secondary);
}
.overflow {
  overflow: auto;
}

.ion-padding {
  height: 135px;
}
.custom-card {
  margin-bottom: 10px;
}
