.task-detail-header {
  margin-top: -28px;
  .justify-cont {
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
    top: 120px !important;

    margin: 0;
    padding: 2rem 1rem;
  }
  .padding-top {
    padding-top: 17px !important;
  }
  .padding-bottom {
    padding-bottom: 0px !important;
  }
  #col-70 {
    #subtitle {
      color: var(--ion-color-dark);
      line-height: 22px;
      text-align: left;
      text-decoration: none;
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      line-height: 32px;
      font-weight: normal;
      cursor: pointer;
    }
  }
  .detail-number {
    font-size: 20px;
    line-height: 32px;
    font-style: normal;
    font-weight: 500;
    color: var(--ion-color-secondary);
  }
  .size-detail-title {
    line-height: 32px;
    font-size: 20px;
    font-family: Inter;
    font-weight: 500;
    color: #1a1c33;
    cursor: pointer;

    display: inline-block;
    position: relative;
  }
  .detail-assignedDate {
    font-size: 14px;
    color: var(--ion-color-secondary);
    font-weight: 500;
    display: inline-block;
  }
}
