<div [ngSwitch]="category">
  <!-- PURCHASING -->
  <div class="task-detail-header" *ngSwitchCase="TASK_CATEGORIES.PURCHASING">
    <div class="justify-cont padding-bottom">
      <ion-label class="ion-text-wrap" id="col-70">
        <span class="size-detail-title">{{
          taskInformation[0].VendorName
        }}</span>
      </ion-label>
      <ion-label class="ion-text-wrap">
        <span class="detail-number"
          >{{ "DOCUMENT_NUMBER.PO_NO" | translate }}#
          {{ taskInformation[0].DocumentNumber }}</span
        >
      </ion-label>
    </div>
    <div class="justify-cont padding-top">
      <ion-label class="ion-text-wrap" id="col-70">
        <span id="subtitle">{{ taskInformation[0].ActionPerformed }}</span>
      </ion-label>
      <ion-label class="ion-text-wrap">
        <span class="detail-assignedDate">{{
          taskInformation[0].SubmitForApprDate
        }}</span>
      </ion-label>
    </div>
  </div>

  <!-- PURCHASE_REQUISITIONS -->
  <div
    class="task-detail-header"
    *ngSwitchCase="TASK_CATEGORIES.PURCHASE_REQUISITIONS"
  >
    <div class="justify-cont padding-bottom">
      <ion-label class="ion-text-wrap">
        <span class="detail-number"
          >{{ "DOCUMENT_NUMBER.PR_NO" | translate }}#
          {{ taskInformation[0].DocumentNumber }}</span
        >
      </ion-label>
    </div>
    <div class="justify-cont padding-top">
      <ion-label class="ion-text-wrap" id="col-70">
        <span id="subtitle">{{ taskInformation[0].Buyer }}</span>
      </ion-label>
      <ion-label class="ion-text-wrap">
        <span class="detail-assignedDate">{{
          taskInformation[0].SubmitForApprDate
        }}</span>
      </ion-label>
    </div>
  </div>

  <!-- INVOICE -->
  <div class="task-detail-header" *ngSwitchCase="TASK_CATEGORIES.INVOICE">
    <div class="justify-cont padding-bottom">
      <ion-label class="ion-text-wrap" id="col-70">
        <span class="size-detail-title">{{
          taskInformation[0].VendorName
        }}</span>
      </ion-label>
      <ion-label class="ion-text-wrap">
        <span class="detail-number"
          >{{ "DOCUMENT_NUMBER.INV_NO" | translate }}#
          {{ taskInformation[0].DocumentNumber }}</span
        >
      </ion-label>
    </div>
    <div class="justify-cont padding-top">
      <ion-label class="ion-text-wrap" id="col-70">
        <span id="subtitle">{{ taskInformation[0].Buyer }}</span>
      </ion-label>
      <ion-label class="ion-text-wrap">
        <span class="detail-assignedDate">{{
          taskInformation[0].SubmitForApprDate
        }}</span>
      </ion-label>
    </div>
  </div>
</div>
<!-- </ion-content> -->
