<ion-item-divider>
  <ion-label class="item" color="dark" *ngIf="filteredTaskItems.length > 1"
    >{{ category === TASK_CATEGORIES.INVOICE ? "Invoice Lines" : "Items" }} ({{
      filteredTaskItems.length
    }})</ion-label
  >
  <ion-label class="item" color="dark" *ngIf="filteredTaskItems.length <= 1"
    >{{ category === TASK_CATEGORIES.INVOICE ? "Invoice Line" : "Item" }}
  </ion-label>
</ion-item-divider>
<!-- <ion-content> -->
<div [ngSwitch]="category">
  <!-- PURCHASING -->
  <ion-list *ngSwitchCase="TASK_CATEGORIES.PURCHASING">
    <ion-item
      class="pointer taskItem ion-no-padding"
      *ngFor="let taskItem of filteredTaskItems"
      color="light"
      lines="none"
    >
      <ion-card class="ion-padding">
        <ion-label>
          <div class="row position display">
            <h5>{{ "TASK_ITEM.ITEM" | translate }} #:</h5>
            <p class="font-weight">{{ taskItem.ItemNumber }}</p>
          </div>
          <div class="row position display">
            <h5>{{ "TASK_ITEM.DESCRIPTION" | translate }}:</h5>
            <p class="font-weight">{{ taskItem.ItemDescription }}</p>
          </div>

          <div class="row position display">
            <h5>{{ "TASK_ITEM.QUTY" | translate }}:</h5>
            <span class="font-weight ml-2">{{ taskItem.Quantity }}</span>
            <span class="font-weight">{{ taskItem.ItemUOM }}</span>
          </div>

          <div class="row position display">
            <h5>{{ "TASK_ITEM.SUBTOTAL" | translate }}:</h5>
            <span class="font-weight ml-2">{{ taskItem.LineTotal }}</span>
            <span class="font-weight">{{ "TASK_ITEM.USD" | translate }}</span>
          </div>
        </ion-label>
      </ion-card>
    </ion-item>
  </ion-list>

  <!-- PURCHASE_REQUISITIONS -->
  <ion-list *ngSwitchCase="TASK_CATEGORIES.PURCHASE_REQUISITIONS">
    <ion-item
      class="pointer taskItem"
      *ngFor="let taskItem of filteredTaskItems"
      color="light"
      lines="none"
    >
      <ion-card class="ion-padding ion-cards">
        <ion-label>
          <div class="row position display">
            <h5>{{ "TASK_ITEM.ITEM" | translate }} #:</h5>
            <p class="font-weight">{{ taskItem.ItemNumber }}</p>
          </div>
          <div class="row position display">
            <h5>{{ "TASK_ITEM.DESCRIPTION" | translate }}:</h5>
            <p class="font-weight">{{ taskItem.ItemDescription }}</p>
          </div>
          <div class="row position display">
            <h5>{{ "TASK_ITEM.QUTY" | translate }}:</h5>
            <span class="font-weight ml-2">{{ taskItem.Quantity }}</span>
            <span class="font-weight">{{ taskItem.ItemUOM }}</span>
          </div>

          <div class="row position display">
            <h5>{{ "TASK_ITEM.SUBTOTAL" | translate }}:</h5>
            <span class="font-weight ml-2">{{ taskItem.LineTotal }}</span>
            <span class="font-weight">{{ "TASK_ITEM.USD" | translate }}</span>
          </div>
        </ion-label>
      </ion-card>
    </ion-item>
  </ion-list>

  <!-- INVOICE -->
  <ion-list *ngSwitchCase="TASK_CATEGORIES.INVOICE">
    <ion-item
      class="pointer taskItem"
      *ngFor="let taskItem of filteredTaskItems"
      color="light"
      lines="none"
    >
      <ion-card class="ion-padding ion-cards">
        <ion-label>
          <div class="row position display">
            <h5>{{ "TASK_ITEM.DESCRIPTION" | translate }}:</h5>
            <p class="font-weight">{{ taskItem.ItemDescription }}</p>
          </div>
          <div class="row position display">
            <h5>{{ "TASK_ITEM.QUTY" | translate }}:</h5>
            <span class="font-weight ml-2">{{ taskItem.Quantity }}</span>
            <span class="font-weight">{{ taskItem.ItemUOM }}</span>
          </div>

          <div class="row position display">
            <h5>{{ "TASK_ITEM.SUBTOTAL" | translate }}:</h5>
            <span class="font-weight ml-2">{{
              taskItem.InvoiceLineAmount
            }}</span>
            <span class="font-weight">{{ "TASK_ITEM.USD" | translate }}</span>
          </div>
        </ion-label>
      </ion-card>
    </ion-item>
  </ion-list>
</div>
