.position {
  bottom: 0px;
  color: var(--ion-color-dark) !important;
}

.item.sc-ion-label-md-h,
.item .sc-ion-label-md-h {
  white-space: initial !important;
}

.display {
  display: flex;
}

.display p {
  margin-left: -1px;
}

.font-weight {
  font-family: "Inter";
  font-weight: 500;
  margin-bottom: 10px;
}

.item {
  font-size: 1.125rem;
  background: var(--ion-color-light);

  border-style: none !important;
}

.pointer {
  cursor: pointer;
}
ion-list {
  background: var(--ion-color-light) !important;
}

.display {
  h5 {
    font-size: 14px;
    font-style: normal;
    margin-bottom: 10px;
  }
  span {
    margin-top: 2px;
    margin-left: 5px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;

    color: var(--ion-color-dark);
  }
  p {
    margin-top: 0px;
  }
  .ml-2 {
    margin-left: 0px;
    font-style: normal;
    font-weight: 500;
    border-style: none;
    font-size: 14px;
  }
}

div {
  ion-list {
    ion-item {
      ion-card {
        width: 100% !important;
        box-shadow: none;
      }
    }
  }
}
div {
  ion-list {
    ion-item {
      .ion-cards {
        margin-left: 0px !important;
      }
    }
  }
}
