<ion-header>
  <ion-toolbar>
    <ion-grid>
      <app-common-searchbar
        [searchInput]="filterTerm"
        (searchItems)="fetchSearchInputValue($event)"
      >
      </app-common-searchbar>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!contentLoaded && listTasks" color="light">
  <ion-list id="inbox-list" lines="none">
    <app-common-skeleton [id]="TABS_TYPE.TASK"></app-common-skeleton>
  </ion-list>
</ion-content>
<ion-content *ngIf="contentLoaded && listTasks.length>0" color="light">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="(listTasks |filter:filterTerm) as searchItem">
    <ion-list id="inbox-list" lines="none">
      <ion-card
        class="ion-padding"
        *ngFor="let task of searchItem"
        class="container"
        id="border-bottom"
        (click)="redirectToTaskById($event, task)"
      >
        <app-taskdata [listTasks]="task"></app-taskdata>
      </ion-card>
    </ion-list>
    <div *ngIf="searchItem.length===0">
      <app-common-no-data [text]="DataNotFoundMessage"></app-common-no-data>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar class="custom-toolbar">
    <app-tabs></app-tabs>
  </ion-toolbar>
</ion-footer>
