#border-bottom {
  border-bottom: 1px solid #8080804f;
  box-shadow: 0px 1px 0px #e1e3f3;
  padding: 1rem;
  margin: 1em;
  border-radius: 8px;
}
.ion-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.ion-text-center {
  font-size: 1rem;
}

.ion-item {
  left: -1em;
  border-radius: 46px;
}
.custom-toolbar {
  padding-bottom: 20px;
}
ion-content {
  #inbox-list {
    background: var(--ion-color-light);
  }
}
