.tab-float {
  height: 44px;
  padding: 0, 16px, 0, 16px !important;
  margin: 5px;
  order: -1;
  color: var(--ion-color-tertiary);
  position: relative;
  top: 5px;
  border-radius: 53px;
}

.tab-bar {
  height: auto;
}
