<ion-tabs class="tab-bar ion-justify-content-center">
  <ion-tab-bar slot="bottom" class="tab-float">
    <ion-tab-button tab="information" justify-content-end>
      <ion-text color="dark">{{ "TABS.INFO" | translate }}</ion-text>
    </ion-tab-button>
    <ion-tab-button tab="history" justify-content-center>
      <ion-text color="dark">{{ "TABS.HISTORY" | translate }}</ion-text>
    </ion-tab-button>

    <ion-tab-button tab="attachments" justify-content-end>
      <ion-text color="dark">{{ "TABS.ATTACHMENT" | translate }}</ion-text>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
