
#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container {
  strong {
    font-size: 20px;
    line-height: 26px;
  }
}

#container {
  p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
  }
}

#container {
  a {
    text-decoration: none;
  }
}

.justify-cont {
  display: flex;
  justify-content: space-between;
  margin-left: 15px;
  top: 120px !important;
  background-color: #eff4f9 !important;
  margin: 0;
  padding: 20px;
}

.ion-text-center {
  font-size: 1rem;
}

.text-center {
  text-align: center !important;
}

.ion-no-border {
  div {
    .toolbar-background {
      background-color: #eff4f9 !important;
    }
  }
}

ion-buttons {
  margin-top: 48px;
  height: 30px;
  ion-button {
    position: absolute;
    top: 10% !important;
    left: -14px;
  }
  ion-menu-button {
    color: var(--ion-color-primary);
  }
  .size-icon {
    font-size: 25px;
  }
}
ion-footer {
  .custom-toolbar {
    padding-bottom: 20px;
  }
}
