<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar class="container">
    <ion-buttons class="ion-margin">
      <ion-menu-button></ion-menu-button>
      <ion-button routerLink="/tasks" fill="clear" color="secondary">
        <ion-icon name="arrow-back" class="size-icon"></ion-icon>
        {{'DETAILSPAGEINFO.BACK'|translate}}
      </ion-button>
    </ion-buttons>
    <div>
      <app-task-details-header
        [taskInformation]="tasks"
        class="ejemplo-1"
        *ngIf="tasks && tasks.length > 0 "
      >
      </app-task-details-header>
    </div>

    <!-- <ion-title *ngIf="category === TASK_CATEGORIES.PURCHASING">Purchase Order</ion-title>
    <ion-title *ngIf="category === TASK_CATEGORIES.PURCHASE_REQUISITIONS">Purchase Requisition</ion-title>
    <ion-title *ngIf="category === TASK_CATEGORIES.INVOICE">Invoice Details</ion-title> -->
  </ion-toolbar>
</ion-header>
<ion-content color="light" *ngIf="!canload">
  <app-common-skeleton [id]="TABS_TYPE.INFO"></app-common-skeleton>
</ion-content>

<ion-content #content color="light" *ngIf="canload">
  <app-tab></app-tab>
</ion-content>

<ion-footer>
  <ion-toolbar class="custom-toolbar">
    <app-action-buttons></app-action-buttons>
  </ion-toolbar>
</ion-footer>
