.wrapper {
  position: relative;
  top: 20%;
}
.content {
  position: relative;
}
.background {
  background: url("../../../../assets/icon/png/Vector.png");
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}
.footer {
  position: absolute;
  width: 100%;
  bottom: 0%;
  .footer-content{
    display: flex;
    justify-content: center;
    padding-left: 26px;
  }
  p{
    span{
      position: relative;
      top: -6.2px;
      left: -8px;
    }
  }
}
