<ion-content color="primary" class="background">
  <div class="background">
    <div class="wrapper">
      <ion-grid>
        <ion-row>
          <ion-col size="12" offset="5">
            <svg
              width="72"
              height="64"
              viewBox="0 0 72 64"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M6.4 0C2.86538 0 0 2.86537 0 6.39999V8.32H12.8V6.4C12.8 2.86538 9.93462 0 6.4 0ZM0 12.16V38.4H12.8V12.16H0ZM9.09631 49.8326C8.00055 52.0789 4.79946 52.0789 3.7037 49.8326L0 42.24L12.8 42.24L9.09631 49.8326ZM20.64 0C18.4309 0 16.64 1.79086 16.64 4V54.24C16.64 56.4491 18.4309 58.24 20.64 58.24H42.7262C41.5942 55.9192 40.96 53.3085 40.96 50.56C40.96 41.1043 48.4665 33.28 57.92 33.28C60.3151 33.28 62.5852 33.7822 64.64 34.686V4C64.64 1.79086 62.8491 0 60.64 0H20.64ZM64.64 39.0144C62.6745 37.8113 60.3761 37.12 57.92 37.12C51.1269 37.12 45.5396 42.4086 44.8677 49.1858C44.8229 49.6377 44.8 50.0961 44.8 50.56C44.8 53.4155 45.6693 56.063 47.1516 58.24C49.5225 61.7219 53.4615 64 57.92 64C65.166 64 71.04 57.9827 71.04 50.56C71.04 45.6533 68.4732 41.3607 64.64 39.0144ZM64.2735 47.9893C64.8325 47.3299 64.7419 46.3498 64.071 45.8003C63.4002 45.2507 62.4031 45.3398 61.8441 45.9993L56.3643 52.4632L53.8992 50.04C53.2817 49.433 52.2806 49.433 51.6631 50.04C51.0456 50.647 51.0456 51.6311 51.6631 52.2381L55.3525 55.8648C55.6666 56.1735 56.0984 56.3382 56.5422 56.3184C56.986 56.2986 57.4008 56.0962 57.6852 55.7607L64.2735 47.9893ZM26.24 7.68C25.1796 7.68 24.32 8.53961 24.32 9.6C24.32 10.6604 25.1796 11.52 26.24 11.52H55.68C56.7404 11.52 57.6 10.6604 57.6 9.6C57.6 8.53961 56.7404 7.68 55.68 7.68H26.24ZM26.24 16.6401C25.1796 16.6401 24.32 17.4997 24.32 18.5601C24.32 19.6205 25.1796 20.4801 26.24 20.4801H55.68C56.7404 20.4801 57.6 19.6205 57.6 18.5601C57.6 17.4997 56.7404 16.6401 55.68 16.6401H26.24ZM24.32 27.5201C24.32 26.4597 25.1796 25.6001 26.24 25.6001H55.68C56.7404 25.6001 57.6 26.4597 57.6 27.5201C57.6 28.5805 56.7404 29.4401 55.68 29.4401H26.24C25.1796 29.4401 24.32 28.5805 24.32 27.5201ZM26.24 34.5601C25.1796 34.5601 24.32 35.4197 24.32 36.4801C24.32 37.5405 25.1796 38.4001 26.24 38.4001H38.4C39.4604 38.4001 40.32 37.5405 40.32 36.4801C40.32 35.4197 39.4604 34.5601 38.4 34.5601H26.24Z"
                fill="white"
              />
            </svg>
          </ion-col>
        </ion-row>
      </ion-grid>

      <div>
        <h1 class="ion-text-center ion-no-margin">
          {{'WELCOMEPAGE.HEADING'|translate}}
        </h1>
        <h1 class="ion-text-center ion-no-margin">
          {{'WELCOMEPAGE.SUB_HEADING'|translate}}!
        </h1>
      </div>
      <div class="content ion-margin">
        <p class="ion-text-center ion-no-margin">
          {{'WELCOMEPAGE.TITLE'|translate}}
        </p>
        <p class="ion-text-center ion-no-margin">
          {{'WELCOMEPAGE.SUB_TITLE'|translate}}
        </p>
        <p class="ion-text-center ion-no-margin">
          {{'WELCOMEPAGE.TEXT_HEADING'|translate}}
        </p>
      </div>

      <ion-grid class="ion-margin">
        <ion-row>
          <ion-col>
            <ion-button
              fill="clear"
              class="ion-button"
              expand="block"
              (click)="signIn()"
              >{{'LOGIN.LOG_IN'|translate}}</ion-button
            >
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="footer">
      <div class="footer-content">
        <p>
          {{'LOGIN.SIGN_UP_TEXT'|translate}}
          <span>
            <ion-button fill="clear" color="light" class="clear-button"
              >{{'LOGIN.SIGN_UP'|translate}}</ion-button
            >
          </span>
        </p>
      </div>
    </div>
  </div>
</ion-content>
