.justify-cont {
  .ion-padding {
    height: 47px;

    .icon-skeleton {
      width: 7%;
      padding-bottom: 8px;
      position: absolute;
      left: 5%;
      top: 25%;
    }
    .ion-text-wrap {
      .heading-skeletons {
        width: 75%;
        position: absolute;
        padding-bottom: 10px;
        top: 25%;
        right: 10%;
      }
    }
  }
}
// history page skeleton
#history-page-skeleton {
  .ion-padding {
    height: 135px;
    .justify-cont {
      .ion-text-wrap {
        .heading-skeleton {
          width: 30%;
          padding-bottom: 9px;
          margin-bottom: 15px;
          font-size: 1.2em;
        }
        .sub-heading-skeleton {
          width: 25%;
          position: absolute;
          right: 7%;
          top: 5%;
          padding-bottom: 5px;
        }
        .title-skeleton {
          width: 35%;
          padding-bottom: 5px;
          margin-bottom: 15px;
        }
        .sub-title-skeleton {
          width: 50%;
          padding-bottom: 6.5px;
        }
        .footer-skeleton {
          width: 70%;
          font-size: 1.5em;
          padding-bottom: 7.5px;
        }
      }
    }
  }
}

#dashboard-skeleton {
  .ion-padding {
    height: 135px;
    .justify-cont {
      .ion-text-wrap {
        .skeleton-text-1 {
          width: 30%;
          padding-bottom: 9px;
          font-size: 1.2em;
        }
        .skeleton-text-2 {
          width: 20%;
          position: absolute;
          right: 7%;
          padding-bottom: 5px;
        }
        .skeleton-text-3 {
          width: 10%;
          padding-bottom: 5px;
        }
        .skeleton-text-4 {
          width: 32%;
          margin-bottom: 10px;
          padding-bottom: 6.5px;
        }
        .skeleton-text-5 {
          width: 70%;
          font-size: 1.5em;
          padding-bottom: 7.5px;
        }
      }
    }
  }
}

#task-details-page-skeleton {
  .ion-padding {
    height: 125px;
    background: var(--ion-color-tertiary);
    .justify-cont {
      .ion-text-wrap {
        .heading-skeleton {
          width: 35%;
          padding-bottom: 12px;
          margin-bottom: 8px;
        }
        .sub-heading-skeleton {
          width: 40%;
          position: absolute;

          top: 12%;
          padding-bottom: 7px;
        }
        .title-skeleton {
          width: 25%;
          padding-bottom: 5px;
          position: absolute;
          right: 5%;
          top: 12%;
        }
      }
    }
  }
  .tab-skeleton {
    position: relative;
    top: 10px;

    margin: 10px;

    ion-item {
      border-radius: 53px !important;
    }
  }
  .info-skeleton {
    position: absolute;
    width: 100%;
    top: 35%;
    padding: 10px;
    .skeleton-heading-text {
      width: 54%;
      margin-bottom: 15px;
      padding-bottom: 5px;
    }
    .skeleton-sub-heading-text {
      width: 30%;
      margin-bottom: 15px;
      padding-bottom: 4px;
    }
    .skeleton-title-text {
      width: 60%;
      padding-bottom: 4px;
    }
  }
  .item-skeleton {
    position: relative;
    top: 8rem;
    padding: 5px;
    .item-divider {
      width: 25%;
      position: relative;
      left: 3%;
      padding-bottom: 4px;
    }
    .custom-card {
      .item-heading {
        width: 50%;
        padding-bottom: 9px;
        margin-bottom: 10px;
        font-size: 1.2em;
      }
      .item-sub-heading {
        width: 40%;
        margin-bottom: 10px;

        padding-bottom: 5px;
      }
      .item-title {
        width: 35%;
        padding-bottom: 5px;
        margin-bottom: 10px;
      }
      .item-sub-title {
        width: 30%;
        padding-bottom: 6.5px;
      }
    }
  }
}
