<!-- attachment skeleton -->
<div class="justify-cont" *ngIf="id === TABS_TYPE.ATTACHMENT">
  <ion-card *ngFor="let count of defaultItem" class="custom-card ion-padding">
    <ion-skeleton-text animated class="icon-skeleton"></ion-skeleton-text>

    <ion-label class="ion-text-wrap">
      <ion-skeleton-text animated class="heading-skeletons"></ion-skeleton-text>
    </ion-label>
  </ion-card>
</div>
<!-- end -->

<!-- history skeleton -->
<div *ngIf="id === TABS_TYPE.HISTORY" id="history-page-skeleton">
  <ion-card class="custom-card ion-padding" *ngFor="let task of defaultItem">
    <div class="justify-cont">
      <ion-label class="ion-text-wrap">
        <ion-skeleton-text
          animated
          class="heading-skeleton"
        ></ion-skeleton-text>
      </ion-label>
      <ion-label class="ion-text-wrap">
        <ion-skeleton-text
          animated
          class="sub-heading-skeleton"
        ></ion-skeleton-text>
      </ion-label>
    </div>
    <div class="justify-cont padding-2 margin-top">
      <ion-label class="ion-text-wrap">
        <ion-skeleton-text animated class="title-skeleton"></ion-skeleton-text>
      </ion-label>
      <ion-label class="ion-text-wrap">
        <ion-skeleton-text
          animated
          class="sub-title-skeleton"
        ></ion-skeleton-text>
      </ion-label>
    </div>
  </ion-card>
</div>
<!-- end ---------------------------------------->

<!-- taskdetails skeleton -->
<div *ngIf="id === TABS_TYPE.INFO" id="task-details-page-skeleton">
  <div class="ion-padding custom-card">
    <div class="justify-cont">
      <ion-label class="ion-text-wrap">
        <ion-skeleton-text
          animated
          class="heading-skeleton"
        ></ion-skeleton-text>
      </ion-label>
      <ion-label class="ion-text-wrap">
        <ion-skeleton-text
          animated
          class="sub-heading-skeleton"
        ></ion-skeleton-text>
      </ion-label>
      <ion-label class="ion-text-wrap">
        <ion-skeleton-text animated class="title-skeleton"></ion-skeleton-text>
      </ion-label>
    </div>
  </div>
  <div class="tab-skeleton">
    <ion-item lines="none">
      <ion-skeleton-text animated></ion-skeleton-text>
    </ion-item>
  </div>
  <div class="info-skeleton">
    <ion-label class="ion-text-wrap">
      <ion-skeleton-text
        animated
        class="skeleton-heading-text"
      ></ion-skeleton-text>
    </ion-label>
    <ion-label class="ion-text-wrap">
      <ion-skeleton-text
        animated
        class="skeleton-sub-heading-text"
      ></ion-skeleton-text>
    </ion-label>
    <ion-label class="ion-text-wrap">
      <ion-skeleton-text
        animated
        class="skeleton-title-text"
      ></ion-skeleton-text>
    </ion-label>
  </div>
  <div class="item-skeleton">
    <ion-label>
      <ion-skeleton-text animated class="item-divider"></ion-skeleton-text>
    </ion-label>

    <ion-card class="custom-card ion-padding" *ngFor="let task of defaultItem">
      <ion-label>
        <ion-skeleton-text animated class="item-heading"></ion-skeleton-text>
      </ion-label>
      <ion-label>
        <ion-skeleton-text
          animated
          class="item-sub-heading"
        ></ion-skeleton-text>
      </ion-label>
      <ion-label>
        <ion-skeleton-text animated class="item-title"></ion-skeleton-text>
      </ion-label>
      <ion-label>
        <ion-skeleton-text animated class="item-sub-title"></ion-skeleton-text>
      </ion-label>
    </ion-card>
  </div>
</div>

<!-- end------------------------------ -->

<!-- dash-board -->
<div *ngIf="id === TABS_TYPE.TASK" id="dashboard-skeleton">
  <ion-card
    *ngFor="let task of defaultItem"
    class="custom-card ion-padding"
    id="border-bottom"
  >
    <div class="justify-cont">
      <ion-label class="ion-text-wrap">
        <ion-skeleton-text animated class="skeleton-text-1"></ion-skeleton-text>
      </ion-label>
      <ion-label class="ion-text-wrap">
        <ion-skeleton-text animated class="skeleton-text-2"></ion-skeleton-text>
      </ion-label>
    </div>
    <div class="justify-cont padding-2 margin-top">
      <ion-label class="ion-text-wrap">
        <ion-skeleton-text animated class="skeleton-text-3"></ion-skeleton-text>
      </ion-label>
      <ion-label class="ion-text-wrap">
        <ion-skeleton-text animated class="skeleton-text-4"></ion-skeleton-text>
      </ion-label>
    </div>
    <div class="justify-cont padding-2 margin-top">
      <ion-label class="ion-text-wrap">
        <ion-skeleton-text animated class="skeleton-text-5"></ion-skeleton-text>
      </ion-label>
    </div>
  </ion-card>
</div>
<!-- end ---------------------------------------->


<!-- forawrd user skeleton -->
<div class="justify-cont" *ngIf="id === TABS_TYPE.FORWARD">
  <ion-card *ngFor="let count of defaultItem" class="custom-card ion-padding">
    <ion-skeleton-text animated class="icon-skeleton"></ion-skeleton-text>
    <ion-label class="ion-text-wrap">
      <ion-skeleton-text animated class="heading-skeletons"></ion-skeleton-text>
    </ion-label>
  </ion-card>
</div>
<!-- end -->
