.firstskeleton {
  width: 30%;
  padding-bottom: 9px;
  font-size: 1.2em;
}
.secondskeleton {
  width: 20%;
  position: absolute;
  right: 7%;
  padding-bottom: 5px;
}
.third {
  width: 10%;
  padding-bottom: 5px;
}
.four {
  width: 32%;
  margin-bottom: 10px;
  padding-bottom: 6.5px;
}
.five {
  width: 70%;
  font-size: 1.5em;
  padding-bottom: 7.5px;
}
