/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;700;800;900&display=swap");

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.my-custom-class .alert-button-group.sc-ion-alert-md {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
}

.my-custom-class .alert-button {
  color: var(--ion-color-dark);
}

.my-custom-class .alert-head.sc-ion-alert-md {
  padding-bottom: 0px !important;
}

.approve-button {
  background: var(--ion-color-secondary) !important;
  border-radius: 46px !important;
  color: var(--ion-color-tertiary) !important;
  text-transform: none !important;
  width: 135px;
}

.my-custom-class div#alert-1-msg {
  color: var(--ion-color-dark);
  font-size: "Inter";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.my-custom-class .alert-input-group.sc-ion-alert-md {
  padding-top: 0px !important;
}

.alert-wrapper {
  border-radius: 18px !important;
}

.alert-head {
  padding: none !important;
}

.alert-input-group {
  height: 50px !important;
  margin-top: -5px !important ;
}

.alert-input {
  background: var(--ion-color-light) !important;

  border-radius: 46px !important;
  padding-left: 1em !important;
  margin-left: -9px !important;
  border-style: none !important;
}

.reject-button {
  background: var(--ion-color-primary) !important;
  border-radius: 46px !important;
  color: var(--ion-color-tertiary) !important;
  text-transform: none !important;
  width: 135px;
}

.modal-wrapper {
  height: 83% !important;
  position: absolute !important;
  opacity: none !important;
  border-radius: 12px 12px 0 0 !important;
  bottom: 0 !important;
}

.sc-ion-alert-md-h {
  --max-width: 326px !important;
}

.alert-message.sc-ion-alert-md {
  font-size: 15px !important;
  line-height: 22px !important;
  color: var(--ion-color-dark) !important;
  font-family: "Inter" !important;
  font-weight: 500 !important;
}
.alert-button-inner.sc-ion-alert-md {
  display: flex !important;
  justify-content: center !important;
}
.cancel-button {
  border: 1px solid #f1f1fa !important;
  width: 135px !important;
  border-radius: 46px !important;
}
