<!-- <ion-tabs>
  <div class="justifi-content">
    <button class="buttons approve">
      Approve
    </button>
    <button class="buttons reject">
      Reject
    </button>
    <button class="buttons forward">
      Forward
    </button>
    <button class="buttons icon-forward">
      <ion-icon name="trending-up-outline"></ion-icon>
    </button>
  </div>
</ion-tabs>  -->

<ion-tabs class="tab-top ion-justify-content-center">
  <ion-tab-bar slot="bottom" class="tab-float">
    <ion-tab-button tab="information" justify-content-end>
      <ion-text color="dark">Info</ion-text>

    </ion-tab-button>
    <ion-tab-button tab="history" justify-content-center>
      <ion-text color="dark">History</ion-text>

    </ion-tab-button>

    <ion-tab-button tab="attachments" justify-content-end>
      <ion-text color="dark">Attachments</ion-text>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
<!-- <div #elseBlock><p class="text-center text-nodata">No data.</p></div> -->