// order: -1; este attributo es para subir el tab
@import "../../../theme/variables.scss";
.tab-float {
  height: 44px;
  padding: 0, 16px, 0, 16px !important;
  margin: 5px;
  order: -1;
  color: var(--ion-color-tertiary);
  position: relative;
  top: 5px;
  border-radius: 53px;
}

.icon-fontS {
  font-size: 45px !important;
}

.text-center {
  text-align: center !important;
}

.text-nodata {
  text-align: center !important;
  margin-top: 0px;
  top: -400px;
  position: relative;
  margin: auto 0px !important;
}

.tab-top {
  height: auto;
}

// .tab-float {
//   .active {
//     position: absolute;
//     left: 0;

//     width: 109px;
//     ion-text {
//       font-weight: 500;
//     }
//   }
//   .active-1 {
//     position: absolute;
//     left: 34%;

//     width: 109px;
//     ion-text {
//       font-weight: 500;
//     }
//   }
//   .active-2 {
//     position: absolute;
//     right: 0%;
//     width: 135px;

//     ion-text {
//       font-weight: 500;
//     }
//   }
// }
