<ion-row>
  <ion-col size="10">
    <ion-item class="ion-item ion-margin" lines="none" color="light">
      <ion-input
        placeholder="{{ 'SEARCH' | translate }}"
        [(ngModel)]="searchInput"
        (ionInput)="searchEnteredElement($event)"
        ngDefaultControl
      >
      </ion-input>
    </ion-item>
  </ion-col>
  <ion-col size="2" class="ion-icon">
    <ion-icon
      name="search-circle"
      color="secondary"
      class="custom-icon"
    ></ion-icon>
  </ion-col>
</ion-row>
